<div class="outer">
    
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                  <div class="panel-heading">
                    <div>
                        <div class="logo" style="background-size: 150px 50px; width: 150px; height: 50px;"></div>
                    </div>
                    <div class="font24">Forgot password?</div>
                    <p class="font15">No worries! Just enter your email and we’ll send you login instructions.</p>

                  </div>
               
                             <div class="flex -mx-3">
                                  <div class="w-full px-3 mb-5">
                                      
                                              <div class="flex">
                                                <div class="form-group pt-3">
                                                    <div class="input-field" >
                                                        <span class="fa fa-user p-2"></span>
                                                        <input formControlName="username" type="text" placeholder="Email">
                                                    </div>
                                                </div>
                                                             </div>
                                                           </div>
                                                </div>
                                                     

                        <button  type="submit" class="btn btn-primary btn-block mt-4 w-100">Send me instruction</button>
                        <div class="form-inline fr mt-4">
                        <p class="font-weight-bold"><a href="/" routerLink="/login">Go back</a>
                       
                         </p>
                         </div>
                 
                </div>
                
            </div> 
        </div>
    </div>
</div>